html {
    background: #018DED url(https://img.freepik.com/free-photo/water-texture-background-pastel-blue-design_53876-146663.jpg?w=1380&t=st=1661521129~exp=1661521729~hmac=c1300b7ba93a6b66b29bed4fe7697b411998fa6fad540eabcbd6c20e02bb0836);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }

  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
  }

  .clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 4px rgba(0,0,0,0.1),
      inset 0 0 0 3px #EFEFEF,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    /* transition: all 0.05s;
    transition-timing-function:cubic-bezier(0.1, 2.7, 0.58, 1) ; */
  }
  .center {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: black;
    position: absolute;
    top: 48.8%;
    left: 47.7%;
    background-color:rgb(0, 0, 0);
  }

  .second-hand {
    height: 3px;
  }


